africastalking==1.1.5
alembic==1.2.1
amqp==2.5.2
aniso8601==3.0.2
APScheduler==3.6.1
atomicwrites==1.3.0
attrs==19.3.0
billiard==3.6.2.0
blinker==1.4
celery==4.3.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorhash==1.0.2
configparser==4.0.2
contextlib2==0.5.5
coverage==4.5.4
cycler==0.10.0
decorator==4.4.0
dj-database-url==0.5.0
dominate==2.4.0
Flask==1.1.1
Flask-Admin==1.5.4
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.7.2
Flask-Cors==3.0.7
Flask-HTTPAuth==3.2.4
Flask-Migrate==2.5.2
Flask-MonitoringDashboard==3.0.5
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-SimpleMDE==0.3.0
Flask-SQLAlchemy==2.4.1
Flask-SQLAlchemy-Caching==1.0.4
Flask-WTF==0.14.2
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.1.1
kiwisolver==1.1.0
kombu==4.6.7
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.2.1
matplotlib==3.1.3
more-itertools==7.2.0
numpy==1.17.3
packaging==19.2
pandas==1.0.1
phonenumbers==8.10.21
pika==0.12.0
pluggy==0.13.0
psutil==5.6.3
psycogreen==1.0.1
psycopg2-binary==2.7.7
py==1.8.1
pyparsing==2.4.2
pyrsistent==0.15.4
pytest==5.2.0
pytest-cov==2.6.1
pytest-mock==1.10.1
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.3
PyYAML==5.3
render==1.0.0
requests==2.22.0
requests-mock==1.6.0
schema==0.7.1
sentry-sdk==0.14.1
six==1.12.0
SQLAlchemy==1.3.10
SQLAlchemy-Searchable==1.1.0
SQLAlchemy-Utils==0.34.2
tablib==1.0.0
tzlocal==2.0.0
urllib3==1.25.6
validators==0.14.0
vine==1.3.0
visitor==0.1.3
wcwidth==0.1.7
Werkzeug==0.16.0
WTForms==2.2.1
zipp==0.6.0
