
{% extends 'base.html'%}
{% block content %}
<div class="container-fluid welcome-page">
    <div class="container">
        <div class="row">
          <p>{{ name }}</p>
          <img src="{{url_for('static', filename='images/bar.png')}}" alt="Chart" height="600" width="500">
        </div>
    </div>
</div>

<div class="container-fluid welcome-page">
    <div class="container">
        <div class="row">
          <p>{{ name }}</p>
          <img src="{{url_for('static', filename='images/table.png')}}" alt="Chart" height="600" width="500">
        </div>
    </div>
</div>
{% endblock %}
